
header {
  /* position: absolute; */
  width: 100%;
  display: flex;
  padding: 1rem 2.5rem;
  background-color: black;
  color: white;
  z-index: 1;
}

#logo-header {
  margin-right: auto;
}

#logo-header img {
  width: 50px;
  height: 50px;
}

header ul {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li:hover a {
  transition: all 0.3s ease-in;
}

header ul li:hover a {
  color: red;
}