
#home {
  width: 100%;
  height: calc(100vh - 84.75px);
}

#home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-container {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

#home-container h2 {
  font-weight: bold;
}

#home-container p {
  font-size: 1.7rem;
  font-weight: 400;
}

#home-container button {
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  transition: all 0.3s ease-in;
}

#home-container button:hover {
  color: black;
  background: transparent;
}