html {
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section h1 {
  text-align: center;
}

main {
  /* margin-top: 84.75px; */
}